/* ----------Jai Shree Krishna----------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
    font-family: poppins;
}

:root{
    --navyblue:#000022;
    --darkgrad:linear-gradient(to right, #0f0c29, #302b63, #24243e);
    --purpink:linear-gradient(to right, #7f00ff, #e100ff);
    --golden:#CBB26A;
}